<!-- Topo com Header e banner -------------------->
<div class="banner">
<!-- -->
<header>
<div class="container">
<a href="#" class="logo"><img src="images/tagplus_logo.png"/></a>
<a href="https://www.tagplus.com.br/" class="menu">Inicio</a>
</div>
</header>
<!-- -->
<div class="container">
<h1>Trabalhe Conosco</h1>
<p>Se você é dinâmico e gosta de novos desafios,<br/>
venha fazer parte da nossa equipe na TagPlus.<br/>
Estamos sempre selecionando os melhores<br/>
profissionais para integrar nosso time.</p>
<a href="#" class="btn btn-yellow">Quero Fazer Parte!</a>
</div>
<!-- -->
</div>
